.menu {
  display: flex;
  list-style:white;

}

.menu li{
margin-right: 50px;

}

body{font-size:28px;}


 {
  background-image: url("https://www.riotgames.com/darkroom/1440/f5f167c525dd1f3989bcfe9ebd3c7995:a842310bd11ee602459b324d098e0e02/barcelona-main.jpg");
  background-size: 1600px 1000px;
  text-decoration-color: green
}

ul {list-style-type: none;
margin: 10;
padding: 10;
overflow: hidden;
background-color: green;
position: -webkit-sticky;
position: sticky;
top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}
p {
 font-size: x-large;
}
