.menu {
  display: block;
  list-style:white;

}

.menu li{
margin-right: 50px;

}

body {
  background-image: url("de-prachtige-stad-barcelona-1490961009.jpg");
  background-size: 1600px 500px 
  color: #003300

}
